@mixin snippetsLayout($snippetsPerRow, $snippetSize) {
  $snippetMargin: calc((100% - #{$snippetSize * $snippetsPerRow}px) / #{$snippetsPerRow * 2});

  width: $snippetSize + px;
  height: $snippetSize + px;
  margin-right: $snippetMargin;
  margin-bottom: $snippetMargin;

  // first column
  &:nth-child(#{$snippetsPerRow}n -#{$snippetsPerRow - 1}) {
    margin-left: $snippetMargin;
  }

  // last column
  &:nth-child(#{$snippetsPerRow}n) {
    margin-right: $snippetMargin;
  }

  // first row
  &:nth-child(-n+#{$snippetsPerRow}) {
    margin-top: $snippetMargin;
  }

  // last row
  &:nth-last-child(-n+#{$snippetsPerRow}) {
    margin-bottom: $snippetMargin;
  }
}

.snippet {
  border: 1px solid grey;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
    .snippet {
      @include snippetsLayout($snippetsPerRow: 1, $snippetSize: 300);
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .snippet {
      @include snippetsLayout($snippetsPerRow: 2, $snippetSize: 200);
    }
}

@media screen and (min-width: 700px) and (max-width: 950px) {
    .snippet {
      @include snippetsLayout($snippetsPerRow: 3, $snippetSize: 200);
    }
}

@media screen and (min-width: 950px) {
    .snippet {
      @include snippetsLayout($snippetsPerRow: 4, $snippetSize: 200);
    }
}
