.snippets {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.snippet {
  width: 200px;
  height: 200px;
  margin: 10px auto;
}

// @media screen and (min-width: 400px) and (max-width: 519px) {
//     .snippet {
//       @include snippetsLayout($snippetsPerRow: 1, $snippetSize: 300);
//     }
// }
