.snippets {
  display: grid;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: dense;
  grid-auto-columns: 1fr;
}

.snippet {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 20px;
  min-height: 100px;
}


@mixin media($min, $max, $cols) {
  @media all and (min-width: $min) and (max-width: $max) {
    .snippets {
      grid-template-columns: repeat($cols, 1fr);
    }
  }
}

@include media(0px, 400px, 1);
@include media(400px, 600px, 2);
@include media(600px, 800px, 3);
@include media(800px, 1000px, 4);
@include media(1000px, 1200px, 5);
@include media(1200px, 1400px, 6);
@include media(1400px, 1600px, 7);
@include media(1600px, 9999px, 8);